<body>
  <header id="wrap-header" class="wrap">
    <div id="inner-header" class="inner">
      <div id="header-logo">
        <h1>ロゴです。</h1>
      </div>
      <div id="header-nav">
        <ul>
          <li>ログ○○○</li>
        </ul>
      </div>
    </div>
  </header>
  <div id="inner-main" class="inner">

    <!-- ここから専用のレイアウト -->
    <section id="block-userinfo">
      <h2>ユーザー情報</h2>
      <div>称号写真</div>
      <p>ユーザー名</p>
      <p>称号：</p>
      <p>総合スコア：</p>
    </section>
    <!-- 記事一覧のブロック -->
    <main id="block-articles">
      <section class="block-levels">
        <div class="level">
          <h2>レベル1</h2>
        </div>
        <section class="block-genres">
          <div class="genre">
            <h3>ジャンル：読み取り</h3>
          </div>
          <ul>
            <li>
              <h4>[g1]読み取り１</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り2</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り3</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り4</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り5</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り6</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り7</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り8</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り9</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り１0</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
          </ul>
        </section>
        <section class="block-genres">
          <div class="genre">
            <h3>ジャンル：読み取り</h3>
          </div>
          <ul>
            <li>
              <h4>[g1]読み取り１</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り2</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り3</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り4</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り5</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り6</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り7</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り8</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り9</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り１0</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
          </ul>
        </section>
        <section class="block-genres">
          <div class="genre">
            <h3>ジャンル：読み取り</h3>
          </div>
          <ul>
            <li>
              <h4>[g1]読み取り１</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り2</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り3</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り4</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り5</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り6</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り7</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り8</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り9</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り１0</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
          </ul>
        </section>
        <section class="block-genres">
          <div class="genre">
            <h3>ジャンル：読み取り</h3>
          </div>
          <ul>
            <li>
              <h4>[g1]読み取り１</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り2</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り3</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り4</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り5</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り6</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り7</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り8</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り9</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り１0</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
          </ul>
        </section>
        <section class="block-genres">
          <div class="genre">
            <h3>ジャンル：読み取り</h3>
          </div>
          <ul>
            <li>
              <h4>[g1]読み取り１</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り2</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り3</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り4</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り5</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り6</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り7</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り8</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り9</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り１0</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
          </ul>
        </section>        
      </section>
      <section class="block-levels">
        <div class="level">
          <h2>レベル1</h2>
        </div>
        <section class="block-genres">
          <div class="genre">
            <h3>ジャンル：読み取り</h3>
          </div>
          <ul>
            <li>
              <h4>[g1]読み取り１</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り2</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り3</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り4</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り5</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り6</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り7</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り8</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り9</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り１0</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
          </ul>
        </section>
        <section class="block-genres">
          <div class="genre">
            <h3>ジャンル：読み取り</h3>
          </div>
          <ul>
            <li>
              <h4>[g1]読み取り１</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り2</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り3</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り4</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り5</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り6</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り7</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り8</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り9</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り１0</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
          </ul>
        </section>
        <section class="block-genres">
          <div class="genre">
            <h3>ジャンル：読み取り</h3>
          </div>
          <ul>
            <li>
              <h4>[g1]読み取り１</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り2</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り3</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り4</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り5</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り6</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り7</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り8</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り9</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り１0</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
          </ul>
        </section>
        <section class="block-genres">
          <div class="genre">
            <h3>ジャンル：読み取り</h3>
          </div>
          <ul>
            <li>
              <h4>[g1]読み取り１</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り2</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り3</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り4</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り5</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り6</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り7</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り8</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り9</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り１0</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
          </ul>
        </section>
        <section class="block-genres">
          <div class="genre">
            <h3>ジャンル：読み取り</h3>
          </div>
          <ul>
            <li>
              <h4>[g1]読み取り１</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り2</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り3</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り4</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り5</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り6</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り7</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り8</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り9</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
            <li>
              <h4>[g1]読み取り１0</h4>
              <p>SCORE:45</p>
              <div><a href="/">テキスト</a></div>
              <div><a href="/">問題</a></div>
            </li>
          </ul>
        </section>        
      </section>
    </main>
    
  </div>
  <footer id="wrap-footer" class="wrap">
    <div id="inner-footer" class="inner">
      <div id="copyright">
        <p><small>Copyright 2021 &copy;漢検１級の門扉.</small></p>
      </div>
    </div>
  </footer>
  <span class="menu-control-open" id="menuControlOpen">
    <svg width="10" height="15">
        <circle r="3" cx="5" cy="5"></circle>
        <line x1="5" x2="5" y1="7" y2="13"></line>
    </svg>
    Menu
  </span>
  <div class="menu">
      <div class="menu-inner">
          <span class="menu-control-close" id="menuControlClose">Close</span>
          <nav>
              <a href="#">Work</a>
              <a href="#">Notes</a>
              <a href="#">Info</a>
          </nav>
          <span class="version">2017.0.1</span>
          <span class="madeIn">Made in England</span>
      </div>
  </div>        
</body>