<main id="block-makequest">

<div id="block-select-genre">
  <ul>
    <li>ジャンル名</li>
  </ul>

</div>

  <section>
    <h1>問題一覧です</h1>
    <section id="genre-1" class="genre">
      <h2>ジャンル：？？？</h2>
      <ul class="quests">
        <li class="quest">
          <section>
            <h3>正答：？？？</h3>
            <div class="explain">解説文解説文解説文解説文解説文解説文解説文解説文解説文解説文解説文解説文</div>
            <div class="meta">
              <p>レベル：</p>
              <p>ジャンル：</p>
            </div>
          </section>
        </li>
      </ul>

    </section>
  </section>

</main>