@import "mediaqueries";

header {
  overflow: visible;
  background-color: transparent;
  width: 100%;
  min-height: 5rem;
  border-bottom: 1px solid black;
  margin-bottom:30px;

  #inner-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    #header-logo {
      width: 100%;
      margin-bottom:20px;

      h1 {
        max-width: 70%;
        @include mq-up('lg'){
          max-width: 40%;
        }

        img {
          max-width: 100%;
        }

      }
    }

    #header-nav {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        li:first-child {
          display: none;
        }

        .user-link {
          margin-left: 10px;
          border: 1px double rgba(0,0,0,0.5);
  
          a {
            display:block;
            padding:3px 5px;
          }
        }
      }
    }
  }
}




// 紛らわしいけどfooter

footer {
  border-top: 1px solid black;
  position: absolute;
  bottom:0;
  display:flex;
  width: 100%;

  #copyright p{
    display:flex;
    justify-content: center;
  }

}
