header {
  overflow: visible;
  background-color: transparent;
  width: 100%;
  height: 5rem;
  padding: 1.5rem;
  border-bottom: 1px solid black;
  margin-bottom:50px;
}




// 紛らわしいけどfooter

footer {
  border-top: 1px solid black;
  position: absolute;
  bottom:0;
  padding:20px 0;
  display:flex;
  width: 100%;

  #copyright p{
    display:flex;
    justify-content: center;
  }

}
