<span class="menu-control-open" id="menuControlOpen">
  <svg width="10" height="15">
      <circle r="3" cx="5" cy="5"></circle>
      <line x1="5" x2="5" y1="7" y2="13"></line>
  </svg>
  Menu
</span>
<div class="menu">
    <div class="menu-inner">
        <span class="menu-control-close" id="menuControlClose">Close</span>
        <nav>
            <a href="#">Work</a>
            <a href="#">Notes</a>
            <a href="#">Info</a>
        </nav>
        <span class="version">2017.0.1</span>
        <span class="madeIn">Made in England</span>
    </div>
</div>